@if (isLoggedIn()) {
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{dogName()}}</mat-card-title>
    <mat-card-subtitle>{{dogBreed()}}</mat-card-subtitle>
    <mat-card-subtitle>{{computed()}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/lazy']">Lazy route</button>
    <button mat-button (click)="isLoggedIn.set(false)">Log Out</button>
  </mat-card-actions>
</mat-card>
} @else {
<button mat-button (click)="isLoggedIn.set(true)">Log In</button>
}

@switch (isLoggedIn()) {
@case (true) {
<router-outlet></router-outlet>
}
@case (false) {
<p>Please Log in to see the lazy route</p>
}
}

<ul>
  @for (item of animals(); track $index) {
  <li>{{$index + 1}}. {{item}}</li>
  }
</ul>